.speech {
    color: black;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

.stage-direction {
    color: black;
    font-size: 12px;
    font-family: 'Arial';
    background: lightblue;
}

.name {
    color: black;
    font-size: 10px;
    font-family: 'Calibri';
}

.stage-direction:hover {
    color: Red;
    background: lightgreen;
}

.allonby {
    color: pink;
}

.LADYSTUTFIELD {
    color: green;
}

.name:hover {
    box-shadow: 0 3px 10px red;
    border: 1px solid black;
}