.speech {color: black; font-size:14; font-family: 'Times New Roman';}
.stage-direction {color: black; font-size:12; font-family: 'Arial'; background: lightblue;}
.name {color: black; font-size:10; font-family: 'Calibri';}
.stage-direction:hover {color: Red; background: lightgreen;}
.MRS.ALLONBY {color: pink;}
.LADYSTUTFIELD {color: green;}
